input {
    padding: 8px 12px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;
}

button {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

label {
    font-family: "Montserrat", sans-serif;
    color: #2e2f42;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 360px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
}