p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.change-color {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}