p {
    padding-bottom: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    padding-left: 156px;
}

.gallery img {
    width: 360px;
    display: block;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}